<div class="container">
    <div class="row mt-3">
        <div class="col-3">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
            </div>
        </div>
        <div class="col-9">
            <img class="w-100" src="https://aircoolsolutions.in/img/service/s-details-7.jpg" alt="">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-3 text">
            <img class="w-100" src="https://aircoolsolutions.in/img/service/service-widget-img.png" alt="">
            <div class="text1">
                <p><span>Available</span> for any type of HVAC Service</p>
                <h4>We can help</h4>
                <a class="main_btn" href="tel:9870227516">Contact us</a>
            </div>
        </div>
        <div class="col-9">
            <h4 style="margin-left: 35px;">Air Conditioning GAS Filling</h4>
            <p style="margin: 35px;">
                On the off chance that your AC isn't cooling your room, there might be a particular reason that doesn't
                let your AC to cool your room at its best. The low gas level is the noticeable motivation behind why
                your cool framework neglects to cool your room. With time, the gas level gets lower and it is
                self-evident. Be that as it may, on the off chance that the gas level goes down before the normal time,
                at that point gas spillage can be a motivation behind why it is occurring. Before the gas compartment
                gets totally unfilled and your AC quits cooling your room, profit of AC gas topping off in Delhi being
                offered by one of the well known AC gas topping off specialist organizations. Indian Aircool fix
                specialist co-op is commended to offer full scope of AC fix gas topping off administrations with the
                Delhi/NCR area.<br><br>
                The specialists out there don't just top off gas in your cooling framework yet they first fix gas
                spillage issues. When they ensure everything is flawless with AC, at that point they begin topping off
                the gas with the necessary degree of AC gas.
            </p>
            <div class="row">
                <div class="col-5 m-3">
                    <img src="https://aircoolsolutions.in/img/service/maintence-7.jpg" alt="">
                </div>
                <div class="col-6">
                    <h4>Checking & Maintenance</h4>
                    <p>
                        Efficiently unleash cross-media information without cross-media value. Quickly maximize timely
                        deliverables for real-time schemas. Dramatically maintain clicks-and mortar functional
                        solutions.
                    </p>
                    <p style="margin-left: 20px;">
                        - AC Gas refilling with 3 month warranty.<br>
                        - Air Conditioning Gas filling in few minutes.<br>
                        - Genuien Charge/ affordabel price.<br>
                    </p>
                </div>

            </div>
        </div>

    </div>


</div>