<div class="container my-5">
    <div class="row">
        <div class="col-12 d-flex">
            <div class="col-5 addressBlock px-5">
                <h2 class="blockTitle">Our Address</h2>
                <span class="text-secondary">
                    ompletely synergize resource taxing relationships via
                    premier niche markets. Professionally cultivate
                    one-to-one customer service.
                </span>

                <div class="d-flex mt-5">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <div class="ms-3 d-inline-block">
                        <h5 class="fw-bold">Address :</h5>
                        <span class="text-wrap text-secondary">AirCool Solutions
                            3648, Okhla -1, New Delhi, 110092</span>
                    </div>
                </div>

                <div class="d-flex my-5">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <div class="ms-3 d-inline-block">
                        <h5 class="fw-bold">Phone :</h5>
                        <span class="text-wrap text-secondary">9870227516 / 9870227516</span>
                    </div>
                </div>

                <div class="d-flex">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <div class="ms-3 d-inline-block">
                        <h5 class="fw-bold">Email :</h5>
                        <span class="text-wrap text-secondary">rockybd1995@gmail.com</span>
                    </div>
                </div>
            </div>

            <div class="col-6 dropMessageBlock px-5">
                <h2 class="blockTitle">Drop a messaage</h2>
                <input type="text" placeholder="Your Name" class="w-100 mt-3">

                <input type="text" placeholder="Your Mail" class="w-100 my-3">

                <textarea rows="1" class="w-100" placeholder="Message"></textarea>

                <button class="btn submitNowBtn mt-3">Submit Now</button>
            </div>
        </div>
    </div>
</div>