<head>
	<link rel="stylesheet" type="text/css"
		href="https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Faster+One&display=swap">
</head>

<body class="mt-4">
	<p-sidebar [(visible)]="displaySideBarFlag" position="right" [baseZIndex]="10000" [closeOnEscape]="true"
		[modal]="true" [blockScroll]="true" [dismissible]="true" [showCloseIcon]="true">
		<div class="primeSideBar">
			<div class="row" *ngIf="selectedUserInfo">
				<img class="rounded-circle" src="../../../assets/images/team/{{selectedUserInfo.img}}">
				<p class="name">{{ selectedUserInfo.name }}</p>
			</div>
		</div>
	</p-sidebar>

	<div class="container-full-width margin-b-narrow">
		<h1 class="title">Meet the team</h1>
	</div>

	<div class="container">
		<div class="one-third mb-5" (click)="displayUserInfoSideBar(userInfo.userId)"
			*ngFor="let userInfo of userInfoData">
			<img class="profile-photo" src="../../../assets/images/team/{{userInfo.img}}">
			<p class="name">{{ userInfo.name }}</p>
		</div>
	</div>



	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

	<!-- <div class="container">
		<div class="one-third" (click)="displaySideBar()">
			<img class="profile-photo" src="../../../assets/images/team/Charles-Shimer-min.jpg">
			<p class="name">Charles Shimer</p>
			<div class="popup-outer">
				<div class="popup-inner">
					<div class="ui-close-holder">
						<span class="ui-close">X</span>
					</div>
					<p>Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt ulpa qui officia deserunt mollit anim id est laborum.
						reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<p class="orange">Excepteur sint occaecat <span class="underline">cupidatat</span> non proident,
						sunt in culpa qui officia deserunt mollit anim id est laborum. reprehenderit in voluptate velit
						esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
						sunt in culpa qui officia deserunt mollit anim id est laborum. reprehenderit in <span
							class="underline">voluptate</span> velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
						est laborum. reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
						id est laborum. <span class="orange">Reprehenderit in voluptate velit esse cillum dolore eu
							fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
							officia deserunt mollit anim id est laborum.</span> Reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
						culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>

		<div class="one-third">
			<img class="profile-photo" src="../../../assets/images/team/Francis-Wilson-min.jpg">
			<p class="name">Francis Wilson</p>
			<div class="popup-outer">
				<div class="popup-inner">
					<div class="ui-close-holder">
						<span class="ui-close">X</span>
					</div>
					<p class="red">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
						Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
						took a galley of type and scrambled it to make a type specimen book. It has survived not only
						five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
					</p>
					<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
						est laborum. reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
						id est laborum. <span class="orange">Reprehenderit in voluptate velit esse cillum dolore eu
							fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
							officia deserunt mollit anim id est laborum.</span> Reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
						culpa qui officia deserunt mollit anim id est laborum.</p>
					<p class="orange">Excepteur sint occaecat <span class="underline">cupidatat</span> non proident,
						sunt in culpa qui officia deserunt mollit anim id est laborum. reprehenderit in voluptate velit
						esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
						sunt in culpa qui officia deserunt mollit anim id est laborum. reprehenderit in <span
							class="underline">voluptate</span> velit esse cillum dolore eu fugiat nulla pariatur.</p>
				</div>
			</div>
		</div>

		<div class="one-third">
			<img class="profile-photo" src="../../../assets/images/team/Gary-Baxter-min.jpg">
			<p class="name">Gary Baxter</p>
			<div class="popup-outer">
				<div class="popup-inner">
					<div class="ui-close-holder">
						<span class="ui-close">X</span>
					</div>
					<p class="green">It was popularised in the 1960s with the release of Letraset sheets containing
						Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
						including versions of Lorem Ipsum.</p>
					<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
						est laborum. reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
						id est laborum. <span class="orange">Reprehenderit in voluptate velit esse cillum dolore eu
							fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
							officia deserunt mollit anim id est laborum.</span> Reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
						culpa qui officia deserunt mollit anim id est laborum.</p>
					<p class="orange">Excepteur sint occaecat <span class="underline">cupidatat</span> non proident,
						sunt in culpa qui officia deserunt mollit anim id est laborum. reprehenderit in voluptate velit
						esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
						sunt in culpa qui officia deserunt mollit anim id est laborum. reprehenderit in <span
							class="underline">voluptate</span> velit esse cillum dolore eu fugiat nulla pariatur.</p>
				</div>
			</div>
		</div>
	</div> -->

	<!-- 2nd row -->
	<!-- <div class="container">

		<div class="one-third">
			<img class="profile-photo" src="../../../assets/images/team/kanchit.png">
			<p class="name">Kanchit Tyagi</p>
			<div class="popup-outer">
				<div class="popup-inner">
					<div class="ui-close-holder">
						<span class="ui-close">X</span>
					</div>
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
						classical Latin literature from 45 BC, making it over 2000 years old. Excepteur sint occaecat
						cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<p class="orange">Excepteur sint occaecat <span class="underline">cupidatat</span> non proident,
						sunt in culpa qui officia deserunt mollit anim id est laborum. reprehenderit in voluptate velit
						esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
						sunt in culpa qui officia deserunt mollit anim id est laborum. reprehenderit in <span
							class="underline">voluptate</span> velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
						est laborum. reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
						id est laborum. <span class="orange">Reprehenderit in voluptate velit esse cillum dolore eu
							fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
							officia deserunt mollit anim id est laborum.</span> Reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
						culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>

		<div class="one-third">
			<img class="profile-photo" src="../../../assets/images/team/Paul-Hendrickson-min.jpg">
			<p class="name">Paul Hendrickson</p>
			<div class="popup-outer">
				<div class="popup-inner">
					<div class="ui-close-holder">
						<span class="ui-close">X</span>
					</div>
					<p class="red">Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked
						up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going
						through the cites of the word in classical literature, discovered the undoubtable source.</p>
					<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
						est laborum. reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
						id est laborum. <span class="orange">Reprehenderit in voluptate velit esse cillum dolore eu
							fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
							officia deserunt mollit anim id est laborum.</span> Reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
						culpa qui officia deserunt mollit anim id est laborum.</p>
					<p class="orange">Excepteur sint occaecat <span class="underline">cupidatat</span> non proident,
						sunt in culpa qui officia deserunt mollit anim id est laborum. reprehenderit in voluptate velit
						esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
						sunt in culpa qui officia deserunt mollit anim id est laborum. reprehenderit in <span
							class="underline">voluptate</span> velit esse cillum dolore eu fugiat nulla pariatur.</p>
				</div>
			</div>
		</div>
		<div class="one-third">
			<img class="profile-photo" src="../../../assets/images/team/Steven-Mays-min.jpg">
			<p class="name">Steven Mays</p>
			<div class="popup-outer">
				<div class="popup-inner">
					<div class="ui-close-holder">
						<span class="ui-close">X</span>
					</div>
					<p class="green">There are many variations of passages of Lorem Ipsum available, but the majority
						have suffered alteration in some form, by injected humour, or randomised words which don't look
						even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure
						there isn't anything embarrassing hidden in the middle of text.</p>
					<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
						est laborum. reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
						id est laborum. <span class="orange">Reprehenderit in voluptate velit esse cillum dolore eu
							fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
							officia deserunt mollit anim id est laborum.</span> Reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
						culpa qui officia deserunt mollit anim id est laborum.</p>
					<p class="orange">Excepteur sint occaecat <span class="underline">cupidatat</span> non proident,
						sunt in culpa qui officia deserunt mollit anim id est laborum. reprehenderit in voluptate velit
						esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
						sunt in culpa qui officia deserunt mollit anim id est laborum. reprehenderit in <span
							class="underline">voluptate</span> velit esse cillum dolore eu fugiat nulla pariatur.</p>
				</div>
			</div>
		</div>
	</div>  -->



</body>